# Bot Token for the Discord Application to run
DISCORD_TOKEN=set-discord-token

# Port to run the Discord Bot Server at
PORT=8080

# Where to validate a user's wallet
VALIDATOR=https://verify.starrybot.xyz

# RPC endpoints for checking tokens
COSMOS_NETWORKS='{"osmo": { "mainnet": "https://rpc-osmosis.blockapsis.com:443" }, "juno": { "mainnet": "https://rpc-juno.itastakers.com", "testnet": "https://rpc.uni.juno.deuslabs.fi" }, "stars": { "testnet": "https://rpc.devnet.publicawesome.dev" }}'

# Database connection variables
# DB_CONNECTIONNAME=
DB_HOSTIP=127.0.0.1
DB_HOSTPORT=5432
DB_NAME=starrybot_db
DB_USER=starrybot_db_user
DB_PASS=set-DB_PASS-env-var
DB_TABLENAME=starryfacts
DB_TABLENAME_MEMBERS=starry_members
DB_TABLENAME_ROLES=starry_roles
